In [1]:
import pandas as pd

In [2]:
person_info = {
    "Person": ["Milk","Alex","Ken","Jack"],
    "Height": [155,165,138,180],
    "Favor Color": ["White","Red","Black","Blue"]
}

In [3]:
new_df = pd.DataFrame(person_info)

In [4]:
new_df

  Person  Height Favor Color
0   Milk     155       White
1   Alex     165         Red
2    Ken     138       Black
3   Jack     180        Blue

In [5]:
new_df.shape

(4, 3)

In [6]:
rows , columns = new_df.shape

In [7]:
rows

4

In [8]:
columns

3

In [10]:
new_df.head(2)

  Person  Height Favor Color
0   Milk     155       White
1   Alex     165         Red

In [11]:
new_df.tail(2)

  Person  Height Favor Color
2    Ken     138       Black
3   Jack     180        Blue

In [12]:
new_df[1:3]

  Person  Height Favor Color
1   Alex     165         Red
2    Ken     138       Black

In [13]:
new_df.columns

Index(['Person', 'Height', 'Favor Color'], dtype='object')

In [14]:
new_df["Person"]

0    Milk
1    Alex
2     Ken
3    Jack
Name: Person, dtype: object

In [15]:
new_df.Person

0    Milk
1    Alex
2     Ken
3    Jack
Name: Person, dtype: object

In [18]:
new_df[["Person" , "Favor Color"]]

  Person Favor Color
0   Milk       White
1   Alex         Red
2    Ken       Black
3   Jack        Blue